<%# Content Heading %>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
} %>

<%# Message Block %>
<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
<% } %>

<div class="alignCenter">
    <div id="loginFormContainer">
        <form action="/account/register" method="post">
            <div><span>First Name*:</span><input type="text" name="account_firstname" id="accountFirstname" required value="<%= locals.account_firstname %>" required></div>
            <div><span>Last Name*:</span><input type="text" name="account_lastname" id="accountLastname" required value="<%= locals.account_lastname %>" required></div>
            <div><span>Email*:</span><input type="email" name="account_email" id="accountEmail" required value="<%= locals.account_email %>" required></div>
            <div><span>Password*:</span><input type="password" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required></div>
            <div class="inputInstructions">
                <ul>
                    <li>Your password must be a minimum of 12 characters in length</li>
                    <li>Your password must include at least 1 capital letter</li>
                    <li>Your password must include at least 1 number</li>
                    <li>Your password must include at least 1 special character</li>
                </ul>
            </div>
            <div class="buttonContainer"><input type="submit" value="Register"></div>
        </form>
        <div class="fineprint">* Denotes a required field.</div>
        
    </div>
</div>