<%# Content Heading %>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
} %>

<%# Message Block %>
<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
<% } %>

<div class="alignCenter">
    <div id="loginFormContainer">
        <form action="/dealership/add" method="post">
            <div><label for="dealershipName">Name*:</label><input type="text" name="dealership_name" id="dealershipName" value="<%= locals.dealership_name %>" required></div>
            <div><label for="dealershipAddress">Street Address*:</label><input type="text" name="dealership_address" id="dealershipAddress" value="<%= locals.dealership_address %>" required></div>
            <div class="buttonContainer"><input type="submit" value="Add Dealership"></div>
        </form>
        <div class="fineprint">* Denotes a required field.</div>
        
    </div>
</div>